<div class="navbar">
    <div class="menu">
        <div class="button">
            <h1><a href="/admin">Compton's Computer</a></h1>
        </div>
        <div class="button">
            <a href="/orders">Complete orders</a>
        </div>
        <div class="button">
            <a href="/add-product">Add new product</a>
        </div>
        <div class="username" sec:authorize="isAuthenticated()">
            <span>
                    Hello, <span th:text="${#authentication.getPrincipal().getUsername()}"/>
            </span>
        </div>
        <div class="log" sec:authorize="isAuthenticated()">
            <a href="/logout">Logout</a>
        </div>
        <div class="log" sec:authorize="isAnonymous()">
            <a onclick="document.getElementById('id01').style.display='block'">Login</a>
        </div>
    </div>
</div>