<div class="navbar">
    <div class="menu">
        <div class="button">
            <h1><a href="/">Compton's Computer</a></h1>
        </div>
        <div class="button">
            <a href="/product">See Product Catalog</a>
        </div>
        <div class="button">
            <a href="/builder">Build a computer</a>
        </div>
        <div class="button" sec:authorize="hasAuthority('CUSTOMER')">
            <a href="/my-orders">My Orders</a>
        </div>
        <div class="button" sec:authorize="isAuthenticated()">
            <span><p th:text="'Hello, ' + ${#authentication.getPrincipal().getUsername()}"></p></span>
        </div>
        <div class="log" sec:authorize="isAuthenticated()">
                <a href="/logout">Logout</a>
        </div>
        <div class="log" sec:authorize="isAnonymous()">
            <a onclick="document.getElementById('id01').style.display='block'">Login</a>
        </div>
    </div>
</div>

<div id="id01" class="modal">

    <form class="modal-content animate" action="/login" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>

        <div class="modal_container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" id="uname" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" id="psw" name="password" required>

            <button type="submit">Login</button>
        </div>

        <div class="modal_container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">No account? <a href="/register">Register</a></span>
        </div>
    </form>
</div>