<div th:replace="fragments/header"></div>
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="fragments/admin-navigation"></div>
    <h2>Add a new Product</h2>
    <form action="#" method="post" th:action="@{/admin}" th:object="${product}">
        <label for="name_field">Enter product name:</label><br>
        <textarea style="resize:none" cols="50" id="name_field" placeholder="Product name..." rows="4" th:field="*{name}"></textarea><br>

        <label for="price_field">Enter product price:</label><br>
        <input type="text" th:field="*{price}" id="price_field"><br>

        <label for="info_field">Enter product information:</label><br>
        <textarea style="resize:none" cols="50" id="info_field" placeholder="Product name..." rows="4" th:field="*{information}"></textarea><br>

        <label for="category_field">Select category</label>
        <select id="category_field" th:field="*{category}">
            <option th:value="'processors'">Processor</option>
            <option th:value="'graphics_card'">Graphics Card</option>
            <option th:value="'motherboards'">Motherboard</option>
            <option th:value="'ram'">RAM</option>
            <option th:value="'memory'">Hard Disk Drive</option>
            <option th:value="'psu'">Power Supply Unit</option>
        </select><br>

        <button type="submit">Add</button>


    </form>

</body>
<div th:replace="fragments/footer"></div>