<div th:replace="fragments/header"></div>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="fragments/admin-navigation"></div>
    <a href="/home">Home Page</a>
</body>
<div th:replace="fragments/footer"></div>