<div th:replace="fragments/header"></div>
<head>
    <meta charset="UTF-8">
    <title>Computer Builder</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="fragments/navigation"></div>
<div class="title">
<h3>Build a computer</h3>
</div>
<p sec:authorize="isAnonymous()" class="message">Login to track your orders!</p>
<form action="#" method="post" th:action="@{/checkout}" th:object="${form}">
    <div class="title"><p>Choose a CPU</p></div>
    <select id="cpu" class="select-css" th:field="*{cpu_id}">
        <option th:each="processor: ${processors}" th:text="${processor.name} + ' - Rp.' + ${processor.price}"
                th:value="${processor.id}"></option>
    </select><br>

    <div class="title"><p>Choose a Graphics Card</p></div>
    <select id="graphics_card" class="select-css" th:field="*{graphics_card_id}">
        <option th:each="gpu: ${graphics_cards}" th:text="${gpu.name} + ' - Rp.' + ${gpu.price}"
                th:value="${gpu.id}"></option>
    </select><br>

    <div class="title"><p>Choose a Motherboard</p></div>
    <select id="motherboard" class="select-css" th:field="*{motherboard_id}">
        <option th:each="mobo: ${motherboards}" th:text="${mobo.name} + ' - Rp.' + ${mobo.price}"
                th:value="${mobo.id}"></option>
    </select><br>

    <div class="title"><p>Choose a RAM</p></div>
    <select id="ram" class="select-css" th:field="*{ram_id}">
        <option th:each="ram: ${rams}" th:text="${ram.name} + ' - Rp.' + ${ram.price}" th:value="${ram.id}"></option>
    </select><br>

    <div class="title"><p>Choose a Hard Disk Drive</p></div>
    <select id="hard_drive" class="select-css" th:field="*{memory_id}">
        <option th:each="hdd: ${memorys}" th:text="${hdd.name} + ' - Rp.' + ${hdd.price}" th:value="${hdd.id}"></option>
    </select><br>

    <div class="title"><p>Choose a PSU</p></div>
    <select id="power" class="select-css" th:field="*{psu_id}">
        <option th:each="psu: ${psus}" th:text="${psu.name} + ' - Rp.' + ${psu.price}" th:value="${psu.id}"></option>
    </select><br>

    <label for="cust_name">Your name:</label>
    <input id="cust_name" placeholder="your name..." th:field="*{name}" type="text"><br>

    <label for="cust_addr">Your address:</label><br>
    <textarea cols="100" id="cust_addr" placeholder="your address..." rows="4" style="resize: none;" th:field="*{address}"></textarea><br>

    <button type="submit">Checkout</button>
</form>
</body>
<div th:replace="fragments/footer"></div>