<div th:replace="fragments/header"></div>

<head>
    <meta charset="UTF-8">
    <title>Product Catalog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div th:replace="fragments/navigation"></div>
    <div class="title">
        <h2>Product Catalog</h2>
    </div>
    <div>
        <form action="#" th:action="@{/product}" method="get" class="form-sort">
            <label for="component">Sort by:</label>
            <select id="component" th:name="component">
                <option value="all">All</option>
                <option value="cpu">CPU</option>
                <option value="gpu">GPU</option>
                <option value="mobo">Mobo</option>
                <option value="ram">RAM</option>
                <option value="hdd">HDD</option>
                <option value="psu">PSU</option>
            </select>
            <label for="component">Sort price:</label>
            <select id="sort" th:name="sort">
                <option value="asc">Cheapest</option>
                <option value="desc">Most Expensive</option>
            </select>
            <button type="submit">Sort</button>
        </form>
    </div>
    <div th:if="${processors != null}">
    <div class="title">
        <h3>Processors</h3>
    </div>
    <div class="container">
        <div class="card" th:each="processor: ${processors}">
            <h1 th:text="${processor.name}"></h1>
            <p class="price" th:text="'Rp. ' + ${processor.price}"></p>
            <p th:text="${processor.information}"></p>
        </div>
    </div>
    </div>
    <div th:if="${graphics_cards != null}">
    <div class="title">
        <h3>Graphics Card</h3>
    </div>
    <div class="container">
        <div class="card" th:each="graphics_card: ${graphics_cards}">
            <h1 th:text="${graphics_card.name}"></h1>
            <p class="price" th:text="'Rp. ' + ${graphics_card.price}"></p>
            <p th:text="${graphics_card.information}"></p>
        </div>
    </div>
    </div>
    <div th:if="${motherboards != null}">
    <div class="title">
        <h3>Motherboards</h3>
    </div>
    <div class="container">
        <div class="card" th:each="motherboard: ${motherboards}">
            <h1 th:text="${motherboard.name}"></h1>
            <p class="price" th:text="${motherboard.price}"></p>
            <p th:text="${motherboard.information}"></p>
        </div>
    </div>
    </div>
    <div th:if="${rams != null}">
    <div class="title">
        <h3>RAM</h3>
    </div>
    <div class="container">
        <div class="card" th:each="ram: ${rams}">
            <h1 th:text="${ram.name}"></h1>
            <p class="price" th:text="${ram.price}"></p>
            <p th:text="${ram.information}"></p>
        </div>
    </div>
    </div>
    <div th:if="${memorys != null}">
    <div class="title">
        <h3>Hard Drives</h3>
    </div>
    <div class="container">
        <div class="card" th:each="memory: ${memorys}">
            <h1 th:text="${memory.name}"></h1>
            <p class="price" th:text="${memory.price}"></p>
            <p th:text="${memory.information}"></p>
        </div>
    </div>
    </div>
    <div th:if="${psus}">
    <div class="title">
        <h3>PSU</h3>
    </div>
    <div class="container">
        <div class="card" th:each="psu: ${psus}">
            <h1 th:text="${psu.name}"></h1>
            <p class="price" th:text="${psu.price}"></p>
            <p th:text="${psu.information}"></p>
        </div>
    </div>
    </div>

</body>
<div th:replace="fragments/footer"></div>