<div th:replace="fragments/header"></div>
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="fragments/navigation"></div>
    <h3>Your Order</h3>
    <ul>
        <li th:each="product: ${order.products}" th:text="${product.name} + ' - Rp.' + ${product.price}"></li>
    </ul>
    <p th:text="'Name: ' + ${order.customerName}"></p>
    <p th:text="'Address: ' + ${order.address}"></p>
    <p th:text="'With a total of: Rp.' + ${order.total}"></p>
    <h4>Thank you for your purchase</h4>
    <a href="/">Back To Home Page</a>
</body>
<div th:replace="fragments/footer"></div>