<div th:replace="fragments/header"></div>
<head>
    <meta charset="UTF-8">
    <title>Compton's Computer</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="fragments/navigation"></div>
    <p th:text="${message}" class="message"></p>
    <a sec:authorize="hasAuthority('ADMIN')" href="/admin" class="message">Admin Page</a>
</body>
<div th:replace="fragments/footer"></div>