<div th:replace="fragments/header"></div>
<head>
    <meta charset="UTF-8">
    <title>My Orders</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="fragments/navigation"></div>
    <h2>My Orders</h2>
    <div>
        <div th:each="order: ${orders}">
            <h3 th:text="'Order id: ' + s${order.id}"></h3>
            <p>Products:</p>
            <ul>
                <li th:each="product: ${order.products}" th:text="${product.name} + ' - Rp.' + ${product.price}"></li>
            </ul>
            <p th:text="'Total: ' + ${order.total}"></p>
            <p th:if="${order.orderStatus == true}">Status: Completed</p>
            <p th:if="${order.orderStatus == false}">Status: Not Completed</p>
        </div>
    </div>
</body>
<div th:replace="fragments/footer"></div>