<div th:replace="fragments/header"></div>
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="fragments/admin-navigation"></div>
    <h2>Orders</h2>
    <h3>Uncompleted orders</h3>
    <div th:each="unc_order: ${unc_orders}">
        <p th:text="'Order id:' + ${unc_order.id}"></p>
        <p>Products:</p>
        <ul>
            <li th:each="product: ${unc_order.products}" th:text="${product.name} + ' - Rp.' + ${product.price}"></li>
        </ul>
        <p th:text="'total: ' + ${unc_order.total}"></p>
        <p th:text="'Customer name: ' + ${unc_order.customerName}"></p>
        <p th:text="'Address: ' + ${unc_order.address}"></p>
        <form th:action="@{/orders}" method="post">
            <button type="submit" th:name="order_id" th:value="${unc_order.id}">Complete Order</button>
        </form>

    </div>
    <h3>Completed orders</h3>
    <div th:each="order: ${orders}">
        <p th:text="'Order id:' + ${order.id}"></p>
        <p>Products:</p>
        <ul>
            <li th:each="product: ${order.products}" th:text="${product.name} + ' - Rp.' + ${product.price}"></li>
        </ul>
        <p th:text="'total: ' + ${order.total}"></p>
        <p th:text="'Customer name: ' + ${order.customerName}"></p>
        <p th:text="'Address: ' + ${order.address}"></p>
    </div>
</body>
<div th:replace="fragments/footer"></div>